<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Project</title>
</head>
<body>
    <form action="/cd/addProject" method="post" enctype="multipart/form-data">
        <div style="padding-top: 10px;">Enter Title<input type="text" name="title"></div>
        <div style="padding-top: 10px;">Enter Description<input type="text" name="description"></div>
        <div style="padding-top: 10px;"><input type="file" name="cover-file"></div>
        <button type="submit">Create Project</button>
    </form>
</body>
</html>